.indidual-product-slider #tooplate_slider {
    clear: both;
    width: 100%;
    height: auto;
}
.indidual-product-slider .pageLink {
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 20px;
    background-color: #000;
}
.indidual-product-slider .slideshow-container {
	position: relative;
	clear: both;
	height: 350px; /* This should be set to be at least the height of the largest image in the slideshow */
	margin-bottom: 10px;
}
.indidual-product-slider .slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
}
.indidual-product-slider .slideshow a.advance-link {
	display: block;
	width: 100%;
	height: 100%; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 0; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
.indidual-product-slider .slideshow img {
	vertical-align: middle;
	width: 100%;
	height: 350px;
	object-fit: cover;
	
}
.indidual-product-slider ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.indidual-product-slider .thumbs li {
    padding: 0;
    list-style: none;
    width: 32%;
    height: 120px;
}
.indidual-product-slider .thumb:focus {
	outline: none;
}
.indidual-product-slider .thumbs img {
	border: none;
	display: block;
	height:100%;
	width:100%;
	object-fit: cover;
}
.indidual-product-slider .pagination {
	clear: both;
}
.indidual-product-slider .navigation .top {
	margin-bottom: 12px;
	height: 11px;
}
.indidual-product-slider .navigation div.bottom {
	margin-top: 0px;
}
.indidual-product-slider ul.thumbs>li{
opacity: 1 !important;	
}
.indidual-product-slider {
    padding-top: 30px;
    padding-bottom: 30px;
}
.indidual-product-slider .navigation{
position: relative;
}

