@font-face {
    font-family: 'Avenir LT Std';
    src: url('../font/AvenirLTStd-Book.eot');
    src: url('../font/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/AvenirLTStd-Book.woff2') format('woff2'),
        url('../font/AvenirLTStd-Book.woff') format('woff'),
        url('../font/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../font/AvenirLTStd-Black.eot');
    src: url('../font/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/AvenirLTStd-Black.woff2') format('woff2'),
        url('../font/AvenirLTStd-Black.woff') format('woff'),
        url('../font/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../font/AvenirLTStd-Roman.eot');
    src: url('../font/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../font/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../font/AvenirLTStd-Roman.woff') format('woff'),
        url('../font/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Medium';
    src: url('../font/Avenir-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Light';
    src: url('../font/Avenir-Light.ttf');
}
@font-face {
    font-family: 'Avenir Regular';
    src: url('../font/Avenir-Regular.ttf');
}
body{
    font-family: 'Avenir LT Std';
    margin: 0px;
    padding: 0px;
}
.home-banner-sec {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 17%;
    padding-bottom: 18%;
    background-position: bottom;
}
#main-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 12px 15px 12px 15px;
}
#main-header .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    font-family: 'Avenir Medium';
}
#main-header .navbar-nav>.nav-item {
    padding: 0px 23px;
}
#main-header .navbar-nav>.nav-item.create-account>.nav-link {
    font-size: 15px;
    color: #000;
    background-color: #86704E;
    border-radius: 50px;
    line-height: normal;
    padding: 10px 26px 8px 26px;
    text-transform: uppercase;
}
#main-header .navbar-nav>.nav-item.cart {
    padding-left: 5px;
    padding-right: 0px;
}
#main-header .navbar-nav>.nav-item.cart .nav-link {
    font-size: 26px;
}
#main-header .navbar-nav>.nav-item.create-account {
    padding-right: 12px;
    padding-left: 15px;
}
.banner-cntnt-container {
    width: 100%;
    max-width: 1165px;
    margin: 0 auto;
    padding: 0px 15px;
}
.banner-cntnt-text>h2 {
    color: #fff;
    font-size: 85px;
    line-height: 84px;
    font-weight: 500;
}
.banner-cntnt-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 24px;
}
.btn.brown-btn {
    font-size: 16px;
    color: #000;
    background-color: #86704E;
    border-radius: 50px;
    line-height: normal;
    padding: 15px 46px 13px 46px;
    font-weight: 700;
    font-family: 'Avenir Medium';
}
.indvidual-product-rght-column .product-description .indvidual-product-btn p.btn.activate-btn+.btn {
    background-color: #86704E !important;
    color: #fff !important;
}
.banner-cntnt-text {
    width: 100%;
    max-width: 645px;
}
.brand-music-style {
    background-color: #F7F7F7;
    padding: 45px 0px;
}
.music-style-white-box {
    width: 100%;
    max-width: 1353px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 12px 34px 0 rgba(0,0,0,0.04);
    border-radius: 10px;
    padding: 40px 66px 40px 66px;
}
.music-selection-slider .slick-list {
    padding: 0px !important;
}
.music-style-search-box>.form-heading>h4 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
}
.music-search-txt>p {
    color: #838383;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px;
}
.music-style-search-box .input-design>input {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #838383;
    font-size: 17px;
    padding: 10px 10px 10px 30px;
    border-radius: 8px;
}
input:focus{
    outline: none;
}
.music-style-search-box .select-design select {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #838383;
    font-size: 17px;
    padding: 10px 10px 10px 30px;
    border-radius: 8px;
}
.input-relative {
    position: relative;
}
.input-abs-icon {
    position: absolute;
    right: 15px;
    top: 13px;
    color: #838383;
}
.music-selection-img>img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.7);
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}
.slider-music-wrapper {
    position: relative;
    display: block;
}
.music-selection-img {
    position: relative;
    height: 165px;
}
.music-selection-cntnt>h5 {
    margin-bottom: 0px;
    color: #fff;
    font-size: 17px;
    padding: 0px 30px;
}
.music-selection-cntnt {
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    width: 100%;
}
.music-selection-slider .slick-slide {
    padding: 15px;
}
.slider-music-wrapper {
    box-shadow: 10px 17px 24px -14px rgba(0,0,0,0.50);
    border-radius: 8px;
    overflow: hidden;
}
.slider-music-wrapper:hover img {
    filter: none;
}
.music-selection-slider .slick-next:before {
    content: '' !important;
    width: 12px;
    height: 12px;
    border-top: 3px solid #838383;
    border-right: 3px solid #838383;
    display: block;
    transform: rotate(45deg);
}
.music-selection-slider .slick-prev:before {
    content: '' !important;
    width: 12px;
    height: 12px;
    border-top: 3px solid #838383;
    border-right: 3px solid #838383;
    display: block;
    transform: rotate(-135deg);
}
.see-all-link>a {
    color: #838383;
    font-size: 20px;
    font-family: 'Avenir Light';
}
.container {
    max-width: 1200px !important;
}
.helping-cntnt-right>h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
}
.helping-cntnt-right>p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.helping-cntnt-right>p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 35px;
}
.helping-school-img>img {
    width: auto;
    max-width: 100%;
    position: relative;
    bottom: -30px;
    box-shadow: 0 9px 25px 0 rgba(0,0,0,0.50);
    border-radius: 8px;
}
.helping-school-sec {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
}
.arrangement-brands {
    background-color: #86704E;
    padding-top: 105px;
    padding-bottom: 48px;
}
.arraangement-text>h2 {
    color: #fff;
    font-size: 38px;
}
.arraangement-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.btn-rectangular{
    border-radius: 50px;
}
.white-btn {
    background-color: #fff;
    color: #86704e;
}
.arraangement-text-btn>a {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 454px;
    margin: 0 auto;
    padding: 16px 15px 12px 15px;
    font-size: 16px;
    font-weight: 500;
}
.about-us-section {
    padding-top: 55px;
    padding-bottom: 55px;
}
.heading-paragraph-design>h2 {
    font-size: 70px;
    color: #000;
    font-family: 'Avenir Medium';
    font-weight: 700;
    margin-bottom: 25px;
}
.heading-paragraph-design>p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 29px;
    font-family: 'Avenir Light';
}
.about-block-design>a {
    font-size: 17px;
    color: #000;
    font-weight: 700;
    letter-spacing: -1px;
    border: 2px solid #86704E;
    background-color: #fff;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.27);
    border-radius: 8px;
    padding: 29px 20px;
    display: block;
}
.about-block-design {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 55px;
}
.container-brands {
    width: 100%;
    max-width: 1277px;
    margin: 0 auto;
    padding: 0px 15px;
}
#main-footer {
    background-color: #000;
    padding-top: 42px;
    padding-bottom: 70px;
}
.footer-nav-flex {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 50px;
}
.footer-nav-flex li>a {
    color: #fff;
    font-size: 15px;
    opacity: 0.6;
}
.footer-nav-flex li {
    padding: 0px 35px;
}
.copy-right-text>p {
    color: #86704E;
    font-size: 12px;
    margin-bottom: 0px;
}
.footer-nav-flex li>a:hover {
    text-decoration: none;
    color: #86704e;
    opacity: 1;
}
.btn.brown-btn:hover {
    background-color: #e69d2b;
}
.white-btn:hover {
    background-color: #e69d2b;
    color: #fff;
}
#main-header .navbar-nav>.nav-item.create-account>.nav-link:hover{
    background-color: #e69d2b;
}
.indvidual-product-text>h2 {
    font-family: 'Avenir Medium';
    margin-bottom: 15px;
}
.about-block-design>a:hover {
    text-decoration: none;
}
#main-header .navbar-nav .nav-link:hover {
    color: #e69d2b;
}
.navbar-brand>img {
    max-width: 100%;
}
.see-all-link>a:hover {
    text-decoration: none;
    color: #e69d2b;
}
.about-rght-img>img {
    width: 100%;
    height: 100%;
}

/* login page */
#inner-body-content {
    min-height: calc(100vh - 280px);
}
.padd-t-142{
    padding-top: 142px;
}
.padd-b-60{
    padding-bottom: 60px;
}
.inner-page-title>h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Avenir Medium';
}
.max-555 {
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
}
.form-section .input-design input {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #838383;
    font-size: 18px;
    padding: 10px 18px 10px 24px;
    border-radius: 8px;
    font-family: 'Avenir Light';
}
.form-section .form-grouph {
    margin-bottom: 15px;
}
.forget-password>a {
    font-size: 17px;
    color: #87714F;
}
.signup-txt a {
    font-size: 17px;
    color: #87714F;
    font-family: 'Avenir Medium';
}
.form-section .input-design input:focus {
    box-shadow: 0 0 0 0.2rem rgb(134 112 79 / 10%);
}
.submit-btn {
    background-color: #87714F;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 11px 15px 9px 15px;
    border: 2px solid #86704E;
    font-family: 'Avenir Medium';
    font-weight: 700;
}
.submit-btn:hover {
    background-color: #000;
    border-color: #000;
}
.submit-btn.btn-bordered:hover {
    background-color: #000 !important;
    color: #fff !important;
}
.signup-txt>p {
    color: #838383;
    font-size: 17px;
    font-family: 'Avenir Light';
}
.login-section .form-grouph.submit-design {
    padding-top: 8px;
    padding-bottom: 12px;
}
.container-1265{
    max-width: 1265px;
    margin: 0 auto;
    padding: 0px 15px;
}
.inner-page-title {
    margin-bottom: 80px;
}
.form-grouph.checkbox-design {
    display: flex;
}
.form-grouph.checkbox-design label {
    color: #838383;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Avenir Light';
}
.form-section .form-grouph.checkbox-design {
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-section .form-grouph.signup-txt {
    padding-top: 15px;
}
.form-grouph.checkbox-design input[type="checkbox"] {
    margin-right: 15px;
    position: relative;
    top: 4px;
}
.account-section ul.nav.nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #F0F4F5 !important;
    padding: 0px 20px;
}
.account-section ul.nav.nav-tabs .nav-link {
    color: #838383;
    font-size: 15px;
}
.account-section ul.nav.nav-tabs .nav-link {
    color: #838383;
    font-size: 15px;
    border: none;
    padding: 12px 57px;
    position: relative;
    font-family: 'Avenir Medium';
}
.account-section ul.nav.nav-tabs .nav-item {
    margin-bottom: 0px;
}
.account-section ul.nav.nav-tabs .nav-link.active {
    color: #000 !important;
}
.account-section ul.nav.nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    width: 100%;
    height: 7px;
    background-color: #86704e;
}
.inner-page-title.mrg-b-35{
margin-bottom: 35px;
}
#main-header .white-bg-header .navbar-nav .nav-link:hover {
    color: #86704e !important;
}
.tab-wrappers .tab-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.twobtns-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.twobtns-flex .submit-btn {
    max-width: 100%;
    width: 47%;
}
.submit-btn.btn-bordered {
    color: #86704E;
    background-color: transparent;
}
.container-1315 {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0px 15px;
}
.container-1350 {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 15px;
}
.submit-btn.btn-bordered:hover {
    text-decoration: none;
}
.tab-wrappers .dataTables_length {
    display: none;
}
.tab-wrappers .dataTables_filter {
    display: none;
}
.tab-wrappers table th {
    color: #86704E;
    font-size: 14px;
    font-weight: 500;
    border: none;
    font-family: 'Avenir Medium';
}
.tab-wrappers table th::before{
    display: none !important;
}
.tab-wrappers table th::after{
    display: none !important;
}
.tab-wrappers table tbody td {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    border: none !important;
    font-family: 'Avenir Medium';
}

.table-design th {
    color: #86704E;
    font-size: 14px;
    font-weight: 500;
    border: none;
    font-family: 'Avenir Medium';
}
.table-design th::before{
    display: none !important;
}
.table-design th::after{
    display: none !important;
}
.table-design tbody td {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    border: none !important;
    font-family: 'Avenir Medium';
}
span.display-block {
    display: block;
}
span.light-txt {
    font-weight: 300 !important;
    font-family: 'Avenir Light';
}
table span.purchase {
    display: block;
    margin-bottom: 25px;
}
.tab-wrappers table tbody td>div {
    padding-bottom: 5px;
}
.tab-wrappers .tab-content .btn.brown-btn {
    font-size: 11px;
    color: #fff;
    padding: 8px 32px 7px 32px;
}
.dataTables_paginate>.paginate_button {
    background-color: #86704e;
    font-size: 14px;
    margin: 0px 10px;
    cursor: pointer;
    color: #fff;
    padding: 7px 12px;
}
.dataTables_paginate span a.paginate_button {
    color: #000;
}
.dataTables_paginate span a.paginate_button.current {
    color: #86704e !important;
}
.dataTables_paginate>.paginate_button:hover {
    text-decoration: none;
    background-color: #000;
}
.form-section .textarea-design textarea {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #838383;
    font-size: 17px;
    padding: 9px 18px 9px 18px;
    border-radius: 8px;
}
.tab-wrappers .textarea-design textarea {
    height: 280px;
}
.form-section .select-design select {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #838383;
    font-size: 17px;
    padding: 12px 34px 12px 18px;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 19px;
    white-space: initial;
}
.form-section.edit-arrangements-section .upload-btn.upload-btn-flex {
    width: 100% !important;
    max-width: 100%;
}
.form-section.edit-arrangements-section .upload-btn.upload-btn-flex .file a {
    color: #838383;
    font-size: 13px;
}
.form-section.edit-arrangements-section .upload-btn.upload-btn-flex .inner-uload-btn {
    margin-bottom: 15px;
}
.search-box-wrapper .input-design input {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #838383;
    font-size: 17px;
    padding: 9px 18px 9px 18px;
    border-radius: 8px;
    color: #838383;
    font-family: 'Avenir Medium';
    font-weight: 700;
}
.input-relative {
    position: relative;
}
.abs-icon-input {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #838383;
}
.inner-page-title>h6 {
    color: #838383;
    font-size: 17px;
}
.inner-page-title.no-mrg-btm {
    margin-bottom: 30px;
}
.map-inner-sec>iframe {
    height: 70vh;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: #86704f !important;
    top: 14px !important;
}





.inner-uload-btn {
    position: relative;
}
.inner-uload-btn .uploadbtn {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: normal;
    border-radius: 50px;
    padding: 10px 23px 7px 23px;
    border: 2px solid #86704E;
    background-color: transparent;
    color: #86704E;
    font-family: 'Avenir Medium';
}
.inner-uload-btn .fileUpload {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
}
.upload-btn-flex {
    display: flex;
    flex-wrap: wrap;
}
.upload-btn-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.max-365{
    max-width: 365px;
}
.edit-arrangements-section .label-design>p {
    color: #838383;
    font-size: 17px;
    margin-bottom: 0px;
    font-family: 'Avenir Medium';
}
.flex-column-center {
    flex-direction: column;
    justify-content: center;
}
.inner-uload-btn .fileUpload:hover+.uploadbtn {
    background-color: #87714f;
    cursor: pointer;
    color: #fff;
}
.edit-arrangements-section .submit-design>.submit-btn {
    margin-bottom: 12px;
}
.container-1360{
    max-width: 1360px;
    padding: 0px 15px;
    margin: 0 auto;
}
.drop-design .dropdown-toggle {
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    color: #000;
    font-size: 17px;
    padding: 9px 18px 9px 18px;
    border-radius: 8px;
    text-align: left;
}
.drop-design .dropdown-toggle::after {
    display: none;
}
.drop-design .dropdown-toggle {
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: 94% 17px;
    background-size: 16px;
}
.drop-design .dropdown-menu {
    position: initial !important;
    transform: none !important;
    width: 100%;
    border: none;
    background-color: #F7F7F7;
    margin-top: 0px;
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 15px;
}
.drop-design .dropdown-menu>ul.list-unstyled {
    margin-bottom: 0px;
}
.drop-design .dropdown-toggle:focus {
    outline: none;
}
.product-left-bar.form-section .input-design input {
    color: #000;
}
.product-left-bar.form-section .input-design input::placeholder {
    color: #000 !important;
}
.product-left-bar.form-section .input-design .abs-icon-input {
    color: #000 !important;
}
.checkbox-design-dropdown>.inner-checkbox label {
    color: #000;
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.product-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.produc-box>.product-img {
    height: 250px;
}
.product-description>.product-heading {
    margin-bottom: 0px;
}
.product-heading>a {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0px 8px 0px;
}
.product-details>p {
    color: #000;
    font-size: 15px;
    margin-bottom: 2px;
}
.product-details>p storng {
    font-weight: 600;
}
.product-btn>.btn.brown-btn {
    font-size: 16px;
    color: #fff;
    padding: 9px 15px 8px 15px;
    display: block;
    max-width: 250px;
}
.form-section .input-design input::placeholder {
    color: #838383;
}
.product-heading>a:hover {
    text-decoration: none;
    color: #ee5335;
}
.product-btn {
    padding-top: 10px;
}
.produc-box {
    height: 100%;
    position: relative;
    padding-bottom: 90px !important;
}
.dropdown-item>a {
    color: #000;
}
.invidual-product-img>img {
    width: 100%;
    height: 100%;
}
.indvidual-product-heading>a {
    color: #000;
    font-size: 30px;
    margin-bottom: 24px;
    display: block;
    font-family: 'Avenir Medium';
}
.indvidual-product-heading>a:hover {
    text-decoration: none;
    color: #c19d62;
}
.invidual-product-description {
    font-size: 18px;
    font-family: 'Avenir Light';
}
.indvidual-product-details>p {
    color: #000;
    font-size: 18.75px;
    margin-bottom: 5px;
    font-family: 'Avenir Light';
}
.indvidual-product-details>p>storng {
    font-weight: 700;
    font-family: 'Avenir Medium';
}
.invidual-product-btm {
    padding-top: 25px;
}
.invidual-product-btm>p {
    font-size: 18.75px;
    margin-bottom: 3px;
}
.indvidual-product-btn .btn.brown-btn {
    color: #fff;
}
.indvidual-product-btn .btn.brown-btn.price-arrangement {
    font-size: 18.75px;
}
.btn.grey-btn {
    font-size: 18.75px;
    color: #000;
    background-color: #F7F7F7;
    border-radius: 50px;
    line-height: normal;
    padding: 20px 46px 13px 46px;
    font-weight: 500;
}
.indvidual-product-btn>.btn {
    margin-bottom: 20px;
}
.btn.grey-btn:hover {
    background-color: #e69d2b;
    color: #fff;
}
.heading-paragraph-design.white h2 {
    color: #fff;
}
.heading-paragraph-design.white p {
    color: #fff;
}
.helping-schl-about .heading-paragraph-design p {
    margin-bottom: 0px;
}
.helping-schl-about {
    background-size: cover;
    padding: 150px 0px;
}
.helping-schl-about .heading-paragraph-design p {
    padding: 0px 140px;
    margin-top: 15px;
}
.company-img>img {
    width: 100%;
    height: 100%;
}
.our-company-sec {
    padding-top: 35px;
}
.what-we-sec {
    padding-top: 90px;
    padding-bottom: 75px;
}
.what-we-do-img>img {
    width: 100%;
    height: 100%;
}
.form-heading>h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Avenir Medium';
}
.form-heading>h4 a {
    font-size: 16px;
    color: #86704E;
    font-family: 'Avenir Medium';
}
.form-heading.div-space {
    margin-top: 38px;
    margin-bottom: 20px;
}
.form-grouph.label-design>label {
    font-size: 17px;
    color: #838383;
    margin-bottom: 5px;
}
.payement-details-column .form-flex.flex-3 {
    align-items: flex-end;
}
.payement-details-column .abs-icon-input {
    top: 37px;
}
.payement-details-column .form-flex.flex-3>div {
    width: 32%;
}
.payement-details-column .form-flex.flex-3 select {
    height: 43px;
}
.payement-details-column .checkbox-design label {
    color: #000;
    font-size: 15.75px;
}
.payement-details-column .form-flex.flex-3 select {
    height: 43px;
    padding-top: 10px;
    background-position: 93% 17px;
    background-size: 14px;
}
.form-grouph.select-design.whos-palying>select {
    background-position: 97% 20px;
    background-size: 15px;
}
.cart-summry-box {
    background-color: #F7F7F7;
    padding: 60px;
}
.product-summry>p {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}
.cart-summry-box>.form-heading {
    margin-bottom: 30px;
}
.product-summry>.product-summry-value {
    font-weight: 600;
    font-family: 'Avenir Medium';
}
.cart-smry-flex {
    display: flex;
    justify-content: space-between;
}
.product-summry-btm-details {
    margin-left: 15px;
    padding-left: 20px;
    border-left: 2px solid #CECECE;
    margin-top: 5px;
    margin-bottom: 30px;
}
.product-summry-btm-details span {
    font-weight: 600;
    line-height: 30px;
    font-size: 15.75px;
}
.prdct-summry-sub-totel {
    border-top: 2px solid #CECECE;
    padding-top: 15px;
    text-align: right;
}
.inner-page-title.big-title>h2 {
    font-size: 75px;
}
.main-faq-section .card {
    border: none;
}
.main-faq-section .card-header {
    background-color: transparent;
    border: none;
    padding: 0px;
}
.main-faq-section .card-header>.card-link {
    display: block;
    width: 100%;
    position: relative;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 0px;
    border-bottom: 1px solid #000;
    font-family: 'Avenir Medium';
    font-weight: 700;
}
.main-faq-section .card-header>.card-link::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 25px;
    width: 13px;
    height: 13px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(-134deg);
}
.main-faq-section .card-header>.card-link.collapsed::after {
    transform: rotate(45deg) !important;
}
.main-faq-section .card-body>p {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 200 !important;
}
.more-questions {
    margin-top: 82px;
}
.padd-t-65{
    padding-top: 65px;
}
.container-1195{
    max-width: 1195px;
    margin: 0 auto;
    padding: 0px 15px;
}
.step-details-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.step-details-flex>p {
    font-size: 20px;
}
#table-show-sorting .dataTables_filter {
    display: block;
}
#table-show-sorting .btn.brown-btn {
    font-size: 11px;
    color: #fff;
    border-radius: 50px;
    line-height: normal;
    padding: 8px 32px 7px 32px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
#table-show-sorting .dataTables_filter input {
    background-color: #f2f2f2;
    border: none;
    padding: 6px;
    border-radius: 6px;
}
.indvidual-product-text-wrapper {
    padding-top: 50px;
}
.indvidual-product-text {
    margin-bottom: 52px;
}
.indvidual-product-text-wrapper .btn.brown-btn.white {
    color: #fff;
    padding: 12px 58px 10px 58px;
    text-transform: uppercase;
}
.indidual-product-slider .navigation .pageLink.prev {
    left: -9px;
    margin-top: -72px;
}
.indidual-product-slider .pageLink.next{
    right: -9px;
    margin-top: -72px;
}
.indidual-product-slider .pageLink svg {
    color: #fff;
    font-size: 14px;
    position: relative;
    bottom: 2px;
}
.checkout-box-wrapper {
    clear: both;
    padding-top: 50px;
}
.cost-heading>h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.checkout-div-select {
    position: relative;
    margin-bottom: 5px;
}
.checkout-div-select .btn.btn-grey {
    padding: 12px 36px;
    font-size: 20px;
    color: #000;
    border-radius: 50px;
    position: relative;
}
.checkout-div-select .select-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}
.checkout-div-select .select-box:checked+.btn.btn-grey {
    background-color: #86704f;
    color: #fff;
}
.checkout-white-btn>.btn.brown-btn {
    color: #fff;
    padding: 12px 58px 10px 58px;
    display: block;
    width: 100%;
    max-width: 250px;
    margin-top: 30px;
}

.audio-heading {
    position: relative;
}
.audio-heading>.product-heading {
    padding-right: 50px;
}
.audio-heading .audio-icon-box button {
    color: #ee5335;
    background-color: transparent;
    border: 2px solid #c7c5c5;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio-heading .audio-icon-box {
    position: absolute;
    right: 0;
    top: 20px;
}
button:focus {
    outline: none !important;
}
.audio-heading .audio-icon-box button svg {
    position: relative;
    top: 2px;
    left: 1px;
}
.indvidual-product-heading {
    font-family: 'Avenir Medium';
    margin-bottom: 20px;
}
.invidual-product-description>strong {
    font-weight: 700;
    font-family: 'Avenir Medium';
    color: #000;
}
.checkout {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 10px 15px !important;
}
.indvidual-product-btn .form-grouph.input-design {
    margin-bottom: 31px;
}
.form-section.login-section .form-grouph.signup-txt {
    padding-top: 0px;
}
.admin-profile-sidebar {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f4f4f4;
    border: none;
}
.admin-profile-sidebar ul {
    list-style: none;
    padding: 0px;
}
.admin-profile-sidebar ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e2e2;
}
.admin-profile-sidebar ul li>a {
    color: #000;
    display: block;
}
.admin-profile-sidebar ul li>a:hover {
    color: #c19e62;
    text-decoration: none;
}
.admin-profile-sidebar ul li:last-child {
    border: none;
}

.form-section.account-section .tab-content {
    padding-top: 0px !important;
}
.my-account-wrapper .dataTables_length {
    display: none;
}
.my-account-wrapper .dataTables_filter {
    display: none !important;
}
.admin-sec form button.btn.btn-primary {
    width: 100%;
    background-color: #86704f;
    border: none;
}
.admin-sec form button.btn.btn-primary:hover {
    background-color: #000 !important;
}
#arrangment-table td {
    word-break: break-all;
    white-space: initial;
}
#arrangment-table .btn.btn-danger {
    white-space: nowrap;
}
#arrangment-table .btn.brown-btn {
    font-size: 13px;
    padding: 5px 10px;
    white-space: nowrap;
}
.user-information-section .btn.btn-success {
    width: 100%;
}
div.dataTables_wrapper div.dataTables_info {
    display: none;
}
div.dataTables_wrapper div.dataTables_paginate {
    display: none;
}
.pagination nav.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pagination nav.flex svg {
    font-size: 16px !important;
    width: 20px !important;
}
.pagination nav.flex .flex a.relative {
    color: #86704f;
}
.pagination nav.flex .flex a.relative:hover {
    text-decoration: none;
    background-color: #86704f !important;
    color: #fff !important;
}
.pagination nav.flex .hidden a.relative {
    color: #86704f;
}
.pagination nav.flex>.hidden>div>.leading-5 {
    display: none;
}
.arrangment-spacing-td td.arrangment-TitlE {
    max-width: 150px;
    white-space: initial !important;
}
.admin-sec form .btn.btn-success {
    width: 100%;
}
#inner-body-content .form-section.account-section .padding-top-50 {
    padding-top: 50px !important;
}
#main-header .navbar-nav>.nav-item.cart {
    position: relative;
}
#main-header .navbar-nav>.nav-item.cart .dropdown-menu {
    left: initial;
    right: 0;
    width: 300px !important;
}
li.product-dropdown .product-img>img {
    width: 100px;
    height: auto;
    object-fit: cover;
}
.product-dropdown-flex:hover {
    text-decoration: none;
}
.product-dropdown-flex:hover h4 {
    color: #c19e62;
}
li.product-dropdown:last-child .product-dropdown-flex {
    border: none;
}
.dropdown-menu.show .nav-link.cart {
    color: #333 !important;
    font-size: 14px !important;
    text-align: center;
}
.dropdown-menu.show .nav-link.cart:hover {
    color: #c19e62 !important;
}
.product-dropdown-flex .product-description {
    padding-left: 15px;
}
.product-dropdown-flex .product-description h4 {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}
.product-dropdown-flex .product-description p {
    color: #000;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
}
.product-dropdown-flex {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #cccaca;
}
.main-cart-page .cart-smry-flex .invidual-product-img {
    width: 25%;
    padding-right: 30px;
}
.main-cart-page .cart-smry-flex .product-summry {
    width: 75%;
}
.cart-summry-box.main-cart-page .product-summry-btm-details {
    border: none;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
}
.invalid-promocode {
    margin-left: 0px !important;
}
.checkout-index .btn.btn-success.btn-lg {
    margin-bottom: 30px;
}
.a-design-brown a {
    color: #86704f;
}
.audio-gif img {
    width: 100%;
}
button.play.active {
    display: block !important;
}
.product-description.description-active .audio-gif .gif-audio {
    display: block !important;
}
.product-description.description-active .audio-gif .png-audio {
    display: none !important;
}
.form-grouph.input-design.has-error {
    padding-bottom: 15px;
    position: relative;
}
.help-block {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    font-size: 12px;
}
.loader-main {
    margin: auto 0px !important;
    position: fixed !important;
    z-index: 15;
    left: 0 !important;
    background-color: rgba(255,255,255,0.9);
    height: 100vh;
    width: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
}
.loader-main img.loader {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%);
}
.checkbox-design-dropdown label {
    white-space: initial !important;
}
.inner-checkbox input {
    vertical-align: top !important;
    position: relative;
    top: 5px;
}
.has-error {
    padding-bottom: 15px;
    position: relative;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.payement-details-column .form-flex .help-block {
    height: 48px;
    line-height: 17px;
    bottom: -45px;
}
table a {
    color: #86704f;
}
.indvidual-product-rght-column .product-description .indvidual-product-btn p.btn {
    font-size: 18.75px !important;
    color: #000;
    background-color: #F7F7F7;
    border-radius: 50px;
    line-height: normal;
    padding: 20px 46px 13px 46px;
    font-weight: 500;
}
.indvidual-product-rght-column .product-description .indvidual-product-btn p.btn:hover {
    background-color: #e69d2b !important;
    color: #fff !important;
}
.my-account-wrapper.admin-sec td .purchase {
    min-width: 100px;
}
.inner-uload-btn .help-block {
    bottom: -30px;
}






@media (max-width: 1350px){
    #main-header .navbar-nav>.nav-item {
        padding: 0px 8px;
    }
}
@media (max-width: 1250px) and (min-width: 1200px){
    #main-header .navbar-nav .nav-link {
        color: #fff;
        font-size: 13px;
    }
}
@media (max-width: 1200px){
    #main-header .navbar-nav>.nav-item {
        padding: 0px 8px;
    }
    .form-section.account-section .form-grouph.has-error {
        padding-top: 15px;
    }
    div#collapsibleNavbar li.nav-item.cart {
        display: none;
    }
    .mobile-cart ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .mobile-cart ul .nav-link {
        color: #c19e62;
        font-size: 25px;
    }
    .mobile-cart {
        position: absolute;
        right: 70px;
        top: 18px;
    }
    .mobile-cart .dropdown-menu {
        right: 0;
        left: initial;
        width: 250px;
    }
    .form-section .pull-right {
        margin-bottom: 10px;
    }
    .payement-details-column .form-flex.flex-3>div {
        width: 100% !important;
    }
    .helping-schl-about .heading-paragraph-design p {
        padding: 0px !important;
    }
    .helping-schl-about {
        background-size: cover;
        padding: 50px 0px;
    }
    .our-company-sec {
        padding-top: 0px;
    }
    .account-section ul.nav.nav-tabs .nav-link {
        padding: 12px 15px !important;
    }
    .navbar-toggler-icon {
        color: #fff;
    }
    div#collapsibleNavbar {
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        background-color: #000;
        padding: 30px;
        width: 100%;
        max-width: 300px;
        transition: all 0.1s ease-in-out;
        height: 100vh;
        z-index: 99;
    }
    .banner-cntnt-text>h2 {
        color: #fff;
        font-size: 30px;
        line-height: normal;
    }
    .banner-cntnt-text p {
        font-size: 16px;
    }
    .btn.brown-btn {
        font-size: 14px;
        padding: 16px 25px 13px 25px;
    }
    .helping-cntnt-right>h2 {
        font-size: 30px;
        line-height: normal;
    }
    .helping-cntnt-right>p {
        color: #fff;
        font-size: 16px;
    }
    .arraangement-text>h2 {
        font-size: 24px;
    }
    .arraangement-text p {
        font-size: 14px;
    }
    .heading-paragraph-design>h2 {
        font-size: 30px;
    }
    .heading-paragraph-design>p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .about-block-design>a {
        font-size: 16px;
        padding: 12px 16px;
        margin: 0px 15px 15px 0px;
    }
    .about-block-design {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 20px;
    }
    div#collapsibleNavbar.show {
        right: 0 !important;
    }
    .music-search-txt>p {
        font-size: 16px;
    }
    .navbar-toggler {
        position: relative;
        transition: all 0.5s ease-in-out;
        background-color: #000;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        padding: 0px;
    }
    .navbar-toggler.active {
        right: 300px;
    }
    .navbar-toggler>.navbar-toggler-icon {
        height: auto !important;
        font-size: 14px;
    }
    .navbar-toggler:focus {
        outline: none !important;
    }
    div#collapsibleNavbar li.nav-item {
        display: block;
        width: 100%;
        text-align: left;
        padding-bottom: 15px !important;
    }
    #main-header .navbar-nav>.nav-item.create-account>.nav-link {
        background-color: transparent;
        color: #f5a222 !important;
        padding: 0px !important;
        font-weight: 700;
    }
    #main-header .navbar-nav>.nav-item.create-account {
        padding: 0px 8px 15px 8px !important;
    }
}
@media (min-width: 768px){
    .produc-box .product-btn {
        position: absolute;
        bottom: 30px;
    }
}
@media (max-width: 767px){
    .music-selection-cntnt>h5 {
        font-size: 15px;
        padding: 0px 15px;
        text-align: center;
    }
    #inner-body-content .product-section .produc-box {
        padding-bottom: 30px !important;
    }
    .mobile-cart {
        position: absolute;
        right: 53px !important;
        top: 1px !important;
    }
    .form-section .input-design input {
        font-size: 14px !important;
    }
    .twobtns-flex {
        margin-top: 0px !important;
    }
    .dataTables_info {
        margin-bottom: 15px !important;
    }
    .admin-sec .user-information-section>.container-1350 {
        padding: 0px !important;
    }
    .cart-summry-box {
        padding: 20px;
    }
    .what-we-sec {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .what-we-do-img {
        margin-top: 20px;
    }
    .indvidual-product-rght-column {
        padding-top: 30px;
    }
    .indvidual-product-btn .btn.brown-btn.price-arrangement {
        font-size: 14px;
    }
    .btn.grey-btn {
        font-size: 14px !important;
        padding: 10px 15px !important;
    }
    .btn.brown-btn {
        padding: 10px 15px !important;
    }
    .produc-box>.product-img {
        height: auto;
    }
    .inner-page-title>h6 {
        text-align: center;
    }
    .search-box-wrapper {
        margin-bottom: 30px;
    }
    .upload-btn-flex {
        flex-direction: column;
    }
    .max-365 {
        max-width: 100% !important;
    }
    .inner-uload-btn .uploadbtn {
        width: 100%;
    }
    .inner-uload-btn {
        margin-bottom: 12px;
    }
    .twobtns-flex .submit-btn {
        width: 100% !important;
        margin-bottom: 15px;
    }
    .twobtns-flex {
        flex-wrap: wrap;
    }
    .account-section ul.nav.nav-tabs {
        padding: 0px !important;
    }
    .account-section ul.nav.nav-tabs .nav-link.active::after{
        display: none;
    }
    .account-section ul.nav.nav-tabs .nav-link.active {
        color: #000 !important;
        border: 2px solid #ab9b80;
        padding: 9px 15px 4px 15px !important;
    }
    .account-section ul.nav.nav-tabs .nav-link {
        font-size: 14px;
        text-align: center;
    }
    .account-section ul.nav.nav-tabs {
        justify-content: center !important;
        border: none !important;
    }
    .tab-wrappers .tab-content {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .padd-t-142 {
        padding-top: 82px !important;
    }
    .inner-page-title {
        margin-bottom: 20px;
    }
    .inner-page-title>h2 {
        font-size: 24px;
        text-align: center;
    }
    #main-header nav.navbar {
        padding: 0px !important;
    }
    .arrangement-brands {
        background-color: #86704E;
        padding-top: 45px !important;
        padding-bottom: 45px !important;
    }
    .arraangement-text {
        text-align: center;
    }
    #main-header .navbar-brand>img {
        max-width: 200px !important;
    }
    .arraangement-text-btn>a {
        font-size: 14px;
    }
    .container-brands .heading-paragraph-design {
        text-align: center;
        margin-bottom: 30px !important;
    }
    .about-block-design {
        justify-content: center !important;
    }
    .helping-school-img>img {
        bottom: 0px !important;
    }
    .helping-school-img {
        text-align: center;
        margin-bottom: 30px;
    }
    .helping-cntnt-right.text-right {
        text-align: center !important;
    }
    .helping-school-sec {
        padding-top: 45px !important;
        padding-bottom: 45px !important;
    }
    .music-style-white-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .music-style-search-box .form-grouph {
        margin-bottom: 15px;
    }
    .music-search-txt {
        margin-bottom: 10px;
    }
    .music-style-search-box .input-design>input {
        font-size: 14px;
        padding-left: 15px !important;
    }
    .music-style-search-box .select-design select{
        font-size: 14px;
        padding-left: 15px !important;
    }
    .footer-nav-flex {
        flex-wrap: wrap;
    }
    .footer-nav-flex li {
        padding: 0px 15px;
    }
    .footer-nav-flex li>a {
        font-size: 14px;
    }
    .home-banner-sec {
        padding-top: 150px !important;
        padding-bottom: 100px !important;
    }
}
@media (min-width: 1200px){
    .desktop-hide {
        display: none;
    }
    .help-block {
        white-space: nowrap;
    }
    .indvidual-product-btn .form-grouph.input-design {
        width: 100%;
        max-width: 70%;
    }
    .indvidual-product-btn {
        position: relative;
    }
    .indvidual-product-btn button.checkout {
        position: absolute;
        right: 0;
        bottom: 0px;
        max-width: 150px !important;
        margin-bottom: 0px !important;
    }
}
@media (max-width: 991px){
    .music-selection-slider button.slick-prev {
        left: 0 !important;
        background-color: #000;
        border-radius: 50px;
        color: #fff;
        opacity: 1;
        width: 30px !important;
        height: 30px !important;
        z-index: 9 !important;
    }
    .music-selection-slider button.slick-prev::before {
        border-color: #fff !important;
        opacity: 1 !important;
        position: relative;
        left: 10px;
    }
    .music-selection-slider button.slick-next {
        right: 0 !important;
        background-color: #000;
        border-radius: 50px;
        color: #fff;
        opacity: 1;
        width: 30px !important;
        height: 30px !important;
        z-index: 9 !important;
    }
    .music-selection-slider button.slick-next::before {
        border-color: #fff !important;
        opacity: 1 !important;
        position: relative;
        left: 8px;
    }
}
@media (min-width: 1200px){
    #main-header .white-bg-header .navbar-nav .nav-link {
        color: #000;
    }
    .what-we-sec .what-we-btn {
        padding-top: 12px;
    }
    .indvidual-product-rght-column {
        padding-top: 20px;
        padding-left: 18px;
    }
    .produc-box {
        padding: 0px 12px;
    }
    #main-header .white-bg-header .navbar-nav .nav-link svg {
        color: #c19d62;
    }
    .form-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-flex>.form-grouph {
        width: 49%;
    }
    .mrg-t-57 {
        margin-top: 50px;
    }
    .indvidual-product-left-column {
        padding: 0px 50px;
    }
    .company-img {
        padding: 0px 40px;
    }
    .company-img>img {
        position: relative;
        top: 25px;
    }
    .main-faq-section .card-body>p {
        padding-left: 20px;
    }
}

















