.help-block {
    color: red;
}
.pull-right {
    float: right;
}
.label-success {
    background-color: green;
    color: #fff;
    border-radius: 24px;
    padding-left: 7px;
    padding-right: 7px;
}
.label-danger {
    background-color: red;
    color: #fff;
    border-radius: 24px;
    padding-left: 7px;
    padding-right: 7px;
}
.label-warning {
    background-color: #f1b504;
    color: #fff;
    border-radius: 24px;
    padding-left: 7px;
    padding-right: 7px;
}
.btn-icon{
	color:#fff;
}
.imageContent {
    width: 50%;
    height: 50%;
    margin-top: 12px;
}
.badget {
    background-color: #c19d62;
    font-size: 14px;
    position: absolute;
    color: #fff;
    width: 22px;
    border-radius: 19px;
    text-align: center;
    margin-left: 20px;
    margin-top: 0px;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3.8125rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #004e47;
  background-color: #cceae7;
  border-color: #b8e2de;
}

.alert-primary hr {
  border-top-color: #a6dbd6;
}

.alert-primary .alert-link {
  color: #001b19;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}
.response-serach {
    color: red;
    font-weight: 600;
    margin-left: 10px;
    font-size: 16px;
}
.invalid-promocode{
	color: red;
    font-weight: 600;
    margin-left: 10px;
    font-size: 16px;
}
.cancelled-order {
    background-color: green;
    color: white;
    padding: 7px;
}

.loader-main{
	margin: auto 0px !important; 
	position: absolute;
	z-index: 15;
	left: 50%;
}
.loader{
	width: 100px;
    height: 100px;
}
.imageContentArrangemnt {
    width: 70px;
    height: 70px;
}
	